@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

html {
    font-size: 10px;
}

main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    background: #f3f3f3;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    line-height: 1.5m;
    text-align: center;
    font-size: 1.6rem;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.5;
    list-style-image: url('/assets/gSquare.png');
  }

li {
    margin: 8px;
    padding-left: 10px;
}

#img-div {
    background: #fefefe;
    padding: 46px 0px;
    margin: 40px;
    border-radius: 8px;
}

#more {
    margin: 40px;
}

.seperator {
    margin: 40px;
}

#img-caption {
    margin-top: 24px;
}

#tribute-info {
    align-content: center;
    text-align: center;
}

#quotes {
    margin: 0 auto 24px auto;
    max-width: 500px;
    text-align: left;
    line-height: 1.5;
}

.more-img {
    max-width: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

.outside {
    margin: 0px;
    padding: 14px 24px;
    display: flex;
}